<ul ng-class="{'open': nav.menuOpen}">
  <li ng-repeat="link in nav.ArrLink track by $index"
      ui-sref="{{link.stateGo}}"
      ng-click="nav.toggleLink($index)"
      ng-class="{'active': link.active}"
      >
    <span>{{link.name}}</span>
  </li>
</ul>
<div class="swipe"
     ng-swipe-right="nav.swipeRight()"
     ng-swipe-left="nav.swipeLeft()"
     ng-click="nav.menuOpen = !nav.menuOpen"
     ng-class="{'open': nav.menuOpen}">
  <div class="decor">
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
    <i class="fa fa-circle"></i>
  </div>
</div>
